*.pc
*.tar.gz
acmtool
tmp

Makefile
Makefile.in
*.[oa]
*.l[oa]
*~
.deps
.libs

autom4te.cache/
config.*
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
*.m4
stamp-*

test/*.enc.acm
test/*.enc.wav
test/*.dec.acm
test/*.dec.wav
